<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dc.ncsys_springboot.mapper.CornGrainSellWeighRecordMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.dc.ncsys_springboot.daoVo.CornGrainSellWeighRecordDo">
        <id column="weigh_id" property="weighId" />
        <result column="trade_serno" property="tradeSerno" />
        <result column="trade_date" property="tradeDate" />
        <result column="carrier" property="carrier" />
        <result column="verhicle_num" property="verhicleNum" />
        <result column="our_gross_weight" property="ourGrossWeight" />
        <result column="our_tare_weight" property="ourTareWeight" />
        <result column="our_net_weight" property="ourNetWeight" />
        <result column="gross_weight" property="grossWeight" />
        <result column="tare_weight" property="tareWeight" />
        <result column="net_weight" property="netWeight" />
        <result column="weight_diff" property="weightDiff" />
        <result column="remark" property="remark" />
        <result column="data_status" property="dataStatus" />
        <result column="create_user" property="createUser" />
        <result column="create_time" property="createTime" />
        <result column="update_user" property="updateUser" />
        <result column="update_time" property="updateTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        weigh_id, trade_serno, trade_date, carrier, verhicle_num, our_gross_weight, our_tare_weight, our_net_weight, gross_weight, tare_weight, net_weight, weight_diff, remark, data_status, create_user, create_time, update_user, update_time
    </sql>

</mapper>
