<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dc.ncsys_springboot.mapper.PersonMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.dc.ncsys_springboot.daoVo.PersonDo">
        <id column="person_id" property="personId" />
        <result column="person_name" property="personName" />
        <result column="phone_num" property="phoneNum" />
        <result column="id_num" property="idNum" />
        <result column="privace" property="privace" />
        <result column="city" property="city" />
        <result column="area" property="area" />
        <result column="address" property="address" />
        <result column="data_status" property="dataStatus" />
        <result column="create_user" property="createUser" />
        <result column="create_time" property="createTime" />
        <result column="update_user" property="updateUser" />
        <result column="update_time" property="updateTime" />
        <result column="remark" property="remark" />
        <result column="alias" property="alias" />
        <result column="sex" property="sex" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        person_id, person_name, phone_num, id_num, privace, city, area, address, data_status, create_user, create_time, update_user, update_time, remark, alias, sex
    </sql>
    <select id="getByPhoneNum" resultType="com.dc.ncsys_springboot.daoVo.PersonDo">
        SELECT * FROM m_person
        WHERE data_status = 1
            AND phone_num = #{phoneNum}
    </select>
    <select id="getByPhoneNumOrName" resultType="com.dc.ncsys_springboot.daoVo.PersonDo">
        SELECT * FROM m_person
        WHERE data_status = 1
            AND (phone_num = #{phoneNumOrName} OR person_name like CONCAT('%', #{phoneNumOrName}, '%'))
    </select>
    <select id="selectByPhoneNum" resultType="com.dc.ncsys_springboot.daoVo.PersonDo">
        SELECT * FROM m_person
        WHERE data_status = 1
            AND phone_num = #{phoneNum}
    </select>
    <select id="getPersonLike" resultType="com.dc.ncsys_springboot.daoVo.PersonDo">
        SELECT * FROM m_person
        WHERE data_status = 1
          <if test="phoneNum!= null and phoneNum!= ''">
            AND phone_num like CONCAT('%', #{phoneNum}, '%')
          </if>
          <if test="personName != null and personName != ''">
            AND person_name like CONCAT('%', #{personName}, '%')
          </if>
    </select>
    <select id="getPersonAddressList" resultType="java.lang.String">
        SELECT address
        FROM (SELECT address,
                     create_time,
                     ROW_NUMBER() OVER (PARTITION BY address ORDER BY create_time DESC) AS rn
              FROM (SELECT address, create_time
                    FROM t_corn_cob_purchase tccp
                    WHERE tccp.seller_id = #{personId}
                    ) AS merged_table
              ) AS ranked_table
        WHERE rn = 1
        ORDER BY create_time DESC;
    </select>
    <select id="pageQuery" resultType="com.dc.ncsys_springboot.daoVo.PersonDo">
        SELECT *
        FROM m_person
        WHERE data_status = '1'
        <if test="personName != null and personName != ''">
            AND (
                person_name LIKE CONCAT('%', #{personName}, '%')
                OR
                alias LIKE CONCAT('%', #{personName}, '%')
            )
        </if>
        <if test="phoneNum != null and phoneNum != ''">
            AND phone_num LIKE CONCAT('%', #{phoneNum}, '%')
        </if>
        <if test="idNum != null and idNum != ''">
            AND id_num = #{idNum}
        </if>
        <if test="address != null and address !=''">
            AND address LIKE CONCAT('%', #{address}, '%')
        </if>
    </select>

</mapper>
