<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dc.ncsys_springboot.mapper.PersonMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.dc.ncsys_springboot.daoVo.PersonDo">
        <id column="person_id" property="personId" />
        <result column="person_name" property="personName" />
        <result column="phone_num" property="phoneNum" />
        <result column="id_num" property="idNum" />
        <result column="province" property="province" />
        <result column="city" property="city" />
        <result column="area" property="area" />
        <result column="address" property="address" />
        <result column="data_status" property="dataStatus" />
        <result column="create_user" property="createUser" />
        <result column="create_time" property="createTime" />
        <result column="update_user" property="updateUser" />
        <result column="update_time" property="updateTime" />
        <result column="remark" property="remark" />
        <result column="alias" property="alias" />
        <result column="sex" property="sex" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        person_id, person_name, phone_num, id_num, province, city, area, address, data_status, create_user, create_time, update_user, update_time, remark, alias, sex
    </sql>
    <select id="getByPhoneNum" resultType="com.dc.ncsys_springboot.daoVo.PersonDo">
        SELECT * FROM m_person
        WHERE data_status = 1
            AND phone_num = #{phoneNum}
    </select>
    <select id="getByPhoneNumOrName" resultType="com.dc.ncsys_springboot.daoVo.PersonDo">
        SELECT * FROM m_person
        WHERE data_status = 1
            AND (phone_num = #{phoneNumOrName} OR person_name like CONCAT('%', #{phoneNumOrName}, '%'))
    </select>
    <select id="selectByPhoneNum" resultType="com.dc.ncsys_springboot.daoVo.PersonDo">
        SELECT * FROM m_person
        WHERE data_status = 1
            AND phone_num = #{phoneNum}
    </select>
    <select id="getPersonLike" resultType="com.dc.ncsys_springboot.daoVo.PersonDo">
        SELECT * FROM m_person
        WHERE data_status = 1
          <if test="phoneNum!= null and phoneNum!= ''">
            AND phone_num like CONCAT('%', #{phoneNum}, '%')
          </if>
          <if test="personName != null and personName != ''">
            AND person_name like CONCAT('%', #{personName}, '%')
          </if>
    </select>
    <select id="getPersonAddressList" resultType="com.dc.ncsys_springboot.vo.AddressVo">
        SELECT address,
               create_time
        FROM (SELECT address,
                     create_time,
                     ROW_NUMBER() OVER (PARTITION BY address ORDER BY create_time DESC) AS rn
              FROM (SELECT address, create_time
                    FROM t_corn_cob_purchase tccp
                    WHERE tccp.seller_id = #{personId}
                    AND address IS NOT NULL
                    AND address != ''
                    UNION
                    SELECT address, create_time
                    FROM t_corn_grain_purchase tcgp
                    WHERE tcgp.seller_id = #{personId}
                    AND address IS NOT NULL
                    AND address != ''
                    ) AS merged_table
              ) AS ranked_table
        WHERE rn = 1
        ORDER BY create_time DESC;
    </select>
    <select id="pageQuery" resultType="com.dc.ncsys_springboot.daoVo.PersonDo">
        SELECT mp.*,
               sac.area_name AS province_name,
               sac2.area_name AS city_name,
               sac3.area_name AS area_name
        FROM m_person mp
        LEFT JOIN s_area_code sac ON mp.province = sac.area_code AND sac.area_lv = 1
        LEFT JOIN s_area_code sac2 ON mp.city = sac2.area_code AND sac2.area_lv = 2
        LEFT JOIN s_area_code sac3 ON mp.area = sac3.area_code AND sac3.area_lv = 3
        WHERE mp.data_status = '1'
        <if test="personName != null and personName != ''">
            AND (
            mp.person_name LIKE CONCAT('%', #{personName}, '%')
                OR
            mp.alias LIKE CONCAT('%', #{personName}, '%')
            )
        </if>
        <if test="phoneNum != null and phoneNum != ''">
            AND mp.phone_num LIKE CONCAT('%', #{phoneNum}, '%')
        </if>
        <if test="idNum != null and idNum != ''">
            AND mp.id_num = #{idNum}
        </if>
        <if test="address != null and address !=''">
            AND mp.address LIKE CONCAT('%', #{address}, '%')
        </if>
        ORDER BY mp.create_time DESC
    </select>
    <select id="selectByIdNum" resultType="com.dc.ncsys_springboot.daoVo.PersonDo">
        SELECT *
        FROM m_person
        WHERE data_status = '1'
        <if test="idNum!= null and idNum!= ''">
            AND id_num = #{idNum}
        </if>
    </select>
    <select id="getPersonNotInWorker" resultType="com.dc.ncsys_springboot.daoVo.PersonDo">
        SELECT mp.*
        FROM m_person mp
        WHERE mp.data_status = '1'
        AND mp.person_id NOT IN (
            SELECT mw.person_id
            FROM m_worker mw
            WHERE mw.data_status = '1'
        )
        <if test="personName != null and personName != ''">
            AND (
            mp.person_name LIKE CONCAT('%', #{personName}, '%')
            OR
            mp.alias LIKE CONCAT('%', #{personName}, '%')
            )
        </if>
        <if test="phoneNum != null and phoneNum != ''">
            AND mp.phone_num LIKE CONCAT('%', #{phoneNum}, '%')
        </if>
        <if test="idNum != null and idNum != ''">
            AND mp.id_num = #{idNum}
        </if>
        <if test="address != null and address !=''">
            AND mp.address LIKE CONCAT('%', #{address}, '%')
        </if>
        ORDER BY mp.create_time DESC
    </select>

</mapper>
