<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dc.ncsys_springboot.mapper.PersonMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.dc.ncsys_springboot.daoVo.PersonDo">
        <id column="person_id" property="personId" />
        <result column="person_name" property="personName" />
        <result column="phone_num" property="phoneNum" />
        <result column="id_num" property="idNum" />
        <result column="privace" property="privace" />
        <result column="city" property="city" />
        <result column="area" property="area" />
        <result column="address" property="address" />
        <result column="data_status" property="dataStatus" />
        <result column="create_user" property="createUser" />
        <result column="create_time" property="createTime" />
        <result column="update_user" property="updateUser" />
        <result column="update_time" property="updateTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        person_id, person_name, phone_num, id_num, privace, city, area, address, data_status, create_user, create_time, update_user, update_time
    </sql>
    <select id="getByPhoneNum" resultType="com.dc.ncsys_springboot.daoVo.PersonDo">
        SELECT * FROM m_person
        WHERE data_status = 1
            AND phone_num = #{phoneNum}
    </select>

</mapper>
