<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dc.ncsys_springboot.mapper.TableDesignMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.dc.ncsys_springboot.daoVo.TableDesignDo">
        <id column="table_id" property="tableId" />
        <result column="table_name" property="tableName" />
        <result column="table_comment" property="tableComment" />
        <result column="table_type" property="tableType" />
        <result column="data_status" property="dataStatus" />
        <result column="create_user" property="createUser" />
        <result column="create_time" property="createTime" />
        <result column="update_user" property="updateUser" />
        <result column="update_time" property="updateTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        table_id, table_name, table_comment, table_type, data_status, create_user, create_time, update_user, update_time
    </sql>
    <select id="getTableDesign" resultType="com.dc.ncsys_springboot.vo.SimpleTableDesign">
        select ORDINAL_POSITION, COLUMN_NAME, COLUMN_COMMENT, COLUMN_DEFAULT, COLUMN_KEY, COLUMN_TYPE, IS_NULLABLE
        from INFORMATION_SCHEMA.Columns
        where TABLE_SCHEMA = DATABASE()
          AND TABLE_NAME = #{tableName}
        order by ORDINAL_POSITION
    </select>

    <select id="showCreateTable" resultType="Map">
        show create table ${tableName}
    </select>
    <select id="isTableExist" resultType="java.lang.Boolean">
        SELECT EXISTS (
                       SELECT 1
                       FROM information_schema.TABLES
                       WHERE TABLE_SCHEMA = DATABASE()
                         AND TABLE_NAME = #{tableName}
                   ) AS table_exists
    </select>

    <select id="getTableDesignList" resultType="com.dc.ncsys_springboot.daoVo.TableDesignDo">
        SELECT *
        FROM s_table_design
        order by create_time desc
    </select>


</mapper>
