<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dc.ncsys_springboot.mapper.TableDesignColumnMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.dc.ncsys_springboot.daoVo.TableDesignColumnDo">
        <id column="table_id" property="tableId" />
        <id column="column_name" property="columnName" />
        <result column="field_index" property="fieldIndex" />
        <result column="column_comment" property="columnComment" />
        <result column="key_yn" property="keyYn" />
        <result column="null_able_yn" property="nullAbleYn" />
        <result column="field_type" property="fieldType" />
        <result column="field_length" property="fieldLength" />
        <result column="field_enum" property="fieldEnum" />
        <result column="default_value" property="defaultValue" />
        <result column="data_status" property="dataStatus" />
        <result column="create_user" property="createUser" />
        <result column="create_time" property="createTime" />
        <result column="update_user" property="updateUser" />
        <result column="update_time" property="updateTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        table_id, field_index, column_name, column_comment, key_yn, null_able, field_type, field_length, field_enum, default_value, data_status, create_user, create_time, update_user, update_time
    </sql>
    <update id="updateByTableIdAndFieldIndex">
        update s_table_design_column
        set column_name = #{columnName},
            column_comment = #{columnComment},
            key_yn = #{keyYn},
            null_able_yn = #{nullAbleYn},
            field_type = #{fieldType},
            field_length = #{fieldLength},
            field_enum = #{fieldEnum},
            default_value = #{defaultValue},
            update_user = #{updateUser}
        where table_id = #{tableId}
          and field_index = #{fieldIndex}
    </update>


    <select id="getByTableId" resultType="com.dc.ncsys_springboot.daoVo.TableDesignColumnDo">
        select
            tdc.*,
            IF(tdc.field_type IN ('varchar', 'char'), TRUE, FALSE) AS need_length,
            IF(tdc.field_type IN ('varchar', 'char'), TRUE, FALSE) AS can_enum,
            td.table_name,
            isc.ORDINAL_POSITION
        from s_table_design_column tdc
        left join s_table_design td
            on tdc.table_id = td.table_id
        left join INFORMATION_SCHEMA.columns isc
            on isc.TABLE_SCHEMA = database()
            and isc.table_name = td.table_name
            and isc.column_name = tdc.column_name
        where tdc.table_id = #{tableId}
        order by
            ORDINAL_POSITION
            , tdc.field_index
            , tdc.create_time
    </select>

    <select id="selectByTableId" resultType="com.dc.ncsys_springboot.daoVo.TableDesignColumnDo">
        select * from s_table_design_column where table_id = #{tableId} order by create_time
    </select>

    <select id="selectByTableIdAndColumnName" resultType="com.dc.ncsys_springboot.daoVo.TableDesignColumnDo">
        select * from s_table_design_column where table_id = #{tableId} and column_name = #{columnName}
    </select>
    <select id="selectByTableIdAndFieldIndex" resultType="com.dc.ncsys_springboot.daoVo.TableDesignColumnDo">
        select * from s_table_design_column where table_id = #{tableId} and field_index = #{fieldIndex}
    </select>
    <select id="getColumn" resultType="com.dc.ncsys_springboot.vo.SimpleTableDesign">
        select ORDINAL_POSITION, COLUMN_NAME, COLUMN_COMMENT, COLUMN_DEFAULT, COLUMN_KEY, COLUMN_TYPE, IS_NULLABLE
        from INFORMATION_SCHEMA.Columns
        where TABLE_SCHEMA = DATABASE()
          AND TABLE_NAME = #{tableName}
          AND column_name = #{columnName}
    </select>

    <delete id="deleteByTableId">
        delete from s_table_design_column where table_id = #{tableId}
    </delete>

    <insert id="insertNext">
        insert into s_table_design_column
        (table_id, field_index, column_name, column_comment, key_yn
        , null_able_yn, field_type, field_length, field_enum, default_value
        , data_status, create_user, update_user)
        values (
            #{tableId},
            (select ORDINAL_POSITION from INFORMATION_SCHEMA.Columns
             WHERE TABLE_SCHEMA = DATABASE()
               AND TABLE_NAME = #{tableName}
               AND column_name = #{columnName}),
            #{columnName}, #{columnComment}, #{keyYn}
            , #{nullAbleYn}, #{fieldType}, #{fieldLength}, #{fieldEnum}, #{defaultValue}
            , #{dataStatus}, #{createUser}, #{updateUser}
        )

    </insert>

</mapper>
