<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dc.ncsys_springboot.mapper.TableDesignSqlMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.dc.ncsys_springboot.daoVo.TableDesignSqlDo">
        <id column="table_id" property="tableId"/>
        <id column="execute_order" property="executeOrder"/>
        <result column="sql_type" property="sqlType"/>
        <result column="execute_sql" property="executeSql"/>
        <result column="last_create_sql" property="lastCreateSql"/>
        <result column="data_status" property="dataStatus"/>
        <result column="create_user" property="createUser"/>
        <result column="create_time" property="createTime"/>
        <result column="update_user" property="updateUser"/>
        <result column="update_time" property="updateTime"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        table_id
        , sql_type, execute_order, execute_sql, last_create_sql, data_status, create_user, create_time, update_user, update_time
    </sql>
    <insert id="insertNextRecord">
        insert into s_table_design_sql(table_id, execute_order, sql_type, execute_sql, last_create_sql, data_status,
                                       create_user, update_user)
        SELECT
            #{tableId},
            COALESCE(t.max_order, 0) + 1,
            #{sqlType}, #{executeSql}, #{lastCreateSql},
            #{dataStatus}, #{createUser}, #{updateUser}
        FROM (
                 SELECT MAX(execute_order) AS max_order
                 FROM s_table_design_sql
                 WHERE table_id = #{tableId}
             ) AS t
    </insert>

    <select id="selectByTableId" resultType="com.dc.ncsys_springboot.daoVo.TableDesignSqlDo">
        select * from s_table_design_sql where table_id = #{tableId}
    </select>
    <select id="selectLast" resultType="com.dc.ncsys_springboot.daoVo.TableDesignSqlDo">
        select *
        from s_table_design_sql
        where table_id = #{tableId}
        order by execute_order desc
        limit 1
    </select>
    <select id="pageQuery" resultType="com.dc.ncsys_springboot.daoVo.TableDesignSqlDo">
        SELECT stds.*, std.table_name, std.table_comment FROM s_table_design_sql stds
        LEFT JOIN s_table_design std on stds.table_id = std.table_id
        <where>
            <if test="tableLike != null and tableLike != ''">
                AND (std.table_name like CONCAT('%', #{tableLike}, '%') OR std.table_comment like CONCAT('%', #{tableLike}, '%'))
            </if>
            <if test="sqlType != null and sqlType != ''">
                AND stds.sql_type = #{sqlType}
            </if>
            <if test="dataStatus != null and dataStatus != ''">
                AND stds.data_status = #{dataStatus}
            </if>
        </where>
        ORDER BY stds.create_time DESC, stds.execute_order DESC
    </select>

</mapper>
