<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dc.ncsys_springboot.mapper.TableDesignUniqueKeyMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.dc.ncsys_springboot.daoVo.TableDesignUniqueKeyDo">
        <id column="table_id" property="tableId" />
        <id column="unique_key_name" property="uniqueKeyName" />
        <result column="unique_key_column" property="uniqueKeyColumn" />
        <result column="data_status" property="dataStatus" />
        <result column="create_user" property="createUser" />
        <result column="create_time" property="createTime" />
        <result column="update_user" property="updateUser" />
        <result column="update_time" property="updateTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        table_id, unique_key_name, unique_key_column, data_status, create_user, create_time, update_user, update_time
    </sql>
    <select id="selectByTableId" resultType="com.dc.ncsys_springboot.daoVo.TableDesignUniqueKeyDo">
        select * from s_table_design_unique_key where table_id = #{tableId}
    </select>

</mapper>
